@charset "UTF-8";
body {
  background: #f9f9f9;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Hiragino Kaku Gothic Pro", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.5em; }
  body, body * {
    -webkit-font-smoothing: antialiased; }
  body div, body a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

header, footer {
  text-align: center;
  padding: 20px;
  font-weight: bold; }

header {
  background-color: #303030;
  border-top: 3px solid #FAD300;
  margin-bottom: 20px;
  color: #E0E0E0; }
  header img {
    height: 40px;
    padding: 0 20px; }

.tell {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px 30px 10px 45px;
  background-image: url(/assets/woo.png);
  background-repeat: no-repeat;
  background-position: 3px 100%; }

.notice, .tell, .block {
  background-color: #eb9c00;
  border: 6px solid #000;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  display: block; }

.fly-centre {
  text-align: center; }

.block {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #ffff00;
  padding: 6px 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 0px #333;
  position: relative;
  top: -4px; }
  .block.active, .block .active {
    background-color: #f0dd00;
    top: 0px;
    box-shadow: 0 1px #555; }
  .block:hover:not(.active) {
    top: -2px;
    box-shadow: 0 3px #555; }

.notice {
  padding: 10px;
  text-align: center; }
  .notice img {
    height: 30px;
    margin: 0 auto 10px;
    display: block; }

.wall, .notice {
  *zoom: 1;
  width: 620px;
  margin: 0 auto 20px; }
  .wall:before, .wall:after, .notice:before, .notice:after {
    content: " ";
    display: table; }
  .wall:after, .notice:after {
    clear: both; }

.wall .column_left {
  float: left;
  margin-right: 20px; }
.wall .column_right {
  float: right; }

.story {
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e8e8e8; }
  .story:hover {
    background-color: #ffffee; }
  .story .author-img {
    width: 30px;
    border-radius: 3px;
    margin-right: 5px; }
  .story .story-img {
    width: 100%; }
  .story .image-wrapper {
    position: relative;
    margin-top: 10px; }
    .story .image-wrapper, .story .image-wrapper > * {
      overflow: hidden;
      border-radius: 3px; }
    .story .image-wrapper .story-content:not(:empty) {
      display: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0;
      font-weight: bold;
      padding: 10px;
      color: #fff;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .story .image-wrapper:hover .story-content {
      opacity: 1; }
    .story .image-wrapper .story-link {
      display: block; }
